body
{
    margin: 0;
    background: #eeeeee;
    color: white;
    font-family: 'Cinzel', serif;
    margin-bottom: 0px;
}
nav
{
    width: 100vw;
    height: auto ;
    position: fixed;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
#brand
{
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Baloo 2', cursive;
    padding-bottom: 0px;
  }
  footer{
    background-color:#393e46;

  }
#brand:hover
{
    cursor:pointer;
    transform: translateY(-5px);
    transition: 0.7s ease;
}
#logo
{
    width:70px;
    height:70px;
    transform: scale(1)
}
#links
{
    list-style-type: none;
    display: flex;
    margin:10px 40px 5px 40px; 
    padding: 8px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}
#links li
{
    color:white;
    padding: 9px;
}
#links li:hover
{
    color:wheat;
    cursor:pointer;
}
#front
{
    height: 100vh;
    padding: 20px;
    background: url("https://images.unsplash.com/photo-1525072124541-6237cc05f4f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1111&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0 10px 0 rgb(66, 66, 66);
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(57, 67, 68);
}
#menu
{
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    color: black;
}
#menu h1
{
    padding-top: 70px;
    text-align: center;
    font-family: 'Cinzel', serif;
}
#menu-container
{
    height:auto; 
    width: auto;
    padding: 50px 135px; 
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    align-items: center;
    justify-items: center;
    background-color: #eeeeee;
    color: black;

}
#whyus
{
    width: 100%;
    height: auto;
    background-color:#393e40;
    color: white;
    text-align: center;
    padding-top: 80px;
}
#whyus-container
{
    height:auto; 
    width: auto;
    padding: 50px 135px; 
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    align-items: center;
    justify-items: center;
    background-color:#393e40;
    color: black;
    padding-bottom: 150px;

}
#events{
  width: 100%;
    height: auto;
    background-color:#bdc7c9;
    color: black;
    text-align: center;
    padding-top: 80px;

}
#events-container{
  height:auto; 
    width: auto;
    padding: 50px 135px; 
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    align-items: center;
    justify-items: center;
    background-color:#bdc7c9;
    color: black;
    padding-bottom: 150px;

}
#blogs{
  width: 100%;
    height: auto;
    background-color:#d8e3e7;
    color: black;
    text-align: center;
    padding-top: 80px;

}
#blogs-container{
  height:auto; 
    width: auto;
    padding: 50px 135px; 
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    align-items: center;
    justify-items: center;
    background-color:#d8e3e7;
    color: black;
    padding-bottom: 150px;
    text-align: center;

}
.container 
{
    position: relative;
    height: auto;
    margin: 20px;
    box-shadow: 0 0 5px 0 #393e46;
    border-radius: 50%;
  }
  .chatbutton{
    padding: 20px;
    margin: 60px;
    border-top: 80px;
  }
  .image 
  {
    display: block;
    width:200px;
    height:200px;
    border-radius: 50%;
  }
  .chat-img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0px;
    
  }
  .overlay 
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
  }
  
  .container:hover .overlay 
  {
    opacity: 1;
    cursor:pointer;
  }
  
  .text 
  {
    color: white;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #about
  {
    width: 100%;
    height: auto;
    background-color:#3fbac2;
    padding-bottom: 90px;
    padding-top: 90px;
  }
  #about h1{
    text-align: center;
    /* font-family: 'Cinzel', serif; */
    font-size: 50px;
    
  }
  #menu-container-doctor
{
    height:auto; 
    width: auto;
    padding: 50px 135px; 
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    align-items: center;
    justify-items: center;
    color: black;

}
  
  .image 
  {
    display: block;
    width:200px;
    height:200px;
    border-radius: 50%;
  }
  .overlay 
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
  }
  
  
  #contact
  {
    width: inherit;
    height: 100vh;
    background:#eeeeee;
    color: #222831;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  form {
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
  }
   input, textarea {
      border:0; outline:0;
      padding: 1em;
      border-radius : 8px;
      display: block;
      margin-top: 1em;
      font-family: 'Merriweather', sans-serif;
      box-shadow: 0 1px 1px rgba(black, 0.1);
      resize: none;
   }
     input:focus, textarea:focus {
        box-shadow: 0 0px 2px rgba(rgb(24, 24, 24), 1) !important;
     }
   
   #input-submit {
    width: 91%;
      color: white; 
      background: rgb(151, 59, 5);
      cursor: pointer;
   }
   #input-submit:hover {
    box-shadow : 0 1px 1px 1px rgba(#aaa, 0.6); 
 }
   
   textarea {
       height: 126px;
   }
 
 
 .half {
   float: left;
   width: 48%;
   margin-bottom: 1em;
 }
 
 .right { width: 50%; }
 
 .left {
      margin-right: 2%; 
 }
 
 
 @media (max-width: 480px) {
   .half {
      width: 100%; 
      float: none;
      margin-bottom: 0; 
   }
 }
 
 
 /* Clearfix */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
  @media (max-width : 1140px)
  {
    #about
    {
      height:auto;
      padding: 60px;
    }
    #about-container
    {
      flex-direction: column;
    }
    #about-us-logo
    {
      width: 100%;
      margin: 0 !important;
      float: none !important;
      display:flex;
      align-items: center;
      justify-content: center;
    }
    #contact
    {
      padding:10px;
    }
    #menu-container
    {
        height:auto; 
        padding: 20px 75px; 
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(3,auto);
        align-items: center;
        justify-items: center;
    }
    nav
    {
      flex-direction: column;
      padding:10px;
    }
    #links
    {
      margin: 10px;
    }
  }

  @media (max-width: 590px)
  {
    #front
    {
      flex-direction: column;
    }
    #about-container div img
    {
      width:100%;
      height: auto;
      padding: 10px;
    }
    #about-container div
    {
      margin: 0 !important;
    }
    #menu-container
    {
        height:auto; 
        padding: 20px; 
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(6,auto);
        align-items: center;
        justify-items: center;
    }
    .container .overlay 
    {
      opacity: 1;
      cursor:pointer;
    }
    .textr
    {
      font-size: 10px;
      font-family: 'Rajdhani', sans-serif;
    }
    p
    {
      font-size: 13px !important;
    }
    nav
    {
      width: auto;
      position:relative;
    }
  }
  